@{
    ViewData["Title"] = "Política de privacidad";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <p>
        <img src="~/IMG FINAL/Coca-Cola_logo.svg.png" style="width:300px;" />
    </p>
    <p>
        <h1>
            Bienvenido a la Política de privacidad del consumidor de Coca‑Cola
        </h1>
        <p>
        The Coca‑Cola Company y sus filiales (en conjunto, Coca‑Cola o nosotros) se toman en serio su derecho a la privacidad. Agradecemos que nos confíe su información personal y consideramos que el respeto por su privacidad es la esencia de nuestras interacciones con usted.
        <h3>
        El manejo de la información personal por parte de Coca‑Cola se guía por estos principios:
        </h3>

        <p>
        Transparencia

        </p>
        <p>
        Respeto

        </p>
        <p>
        Confianza

        </p>

        <p>
        Equidad

        </p>
        <p>
        Fecha de entrada en vigencia: 10 de enero de 2024.

        </p>
        <p>
        La Política de privacidad del consumidor de Coca‑Cola (Política de privacidad) describe la información personal que Coca‑Cola recopila de o sobre los usuarios de los sitios web, las aplicaciones móviles (Aplicaciones), los widgets y otros servicios en línea y fuera de línea que Coca‑Cola opera (en conjunto, los Servicios) y cómo usamos y protegemos esa información personal. Esta Política de privacidad también explica la manera en que los usuarios podrán tomar decisiones sobre su información personal.
        Cuando nos referimos al término información personal (algunas veces citado como datos personales en virtud de algunas leyes) en esta Política de privacidad, nos referimos a la información que identifica o puede usarse para identificar a un ser humano individual.. Esto significa que la información personal incluye identificadores directos (como el nombre) e indirectos (como el identificador o dirección IP de computadora o dispositivo móvil). Cuando nos referimos a usted o al usuario, nos referimos a alguien que utiliza cualquiera de los Servicios. Cuando nos referimos al responsable del tratamiento, nos referimos a la persona o entidad que determina qué información personal se recopila de usted o sobre usted y cómo se utiliza y protege esa información personal.
        La manera en que recopilamos, usamos y protegemos su información personal está sujeta a las leyes de los lugares en los que operamos. Esto significa que podemos tener diferentes prácticas en diferentes lugares. Para obtener más información, consulte los Derechos y opciones de privacidad, que incluye descripciones adicionales de sus derechos y nuestras obligaciones en ciertas jurisdicciones clave y con quién comunicarse.
        SI TIENE PREGUNTAS SOBRE CÓMO COCA-COLA TRATA SU INFORMACIÓN PERSONAL, COMUNÍQUESE CON PRIVACY@COCA-COLA.COM.

        </p>



        </p>
        <h1>
        ¿QUÉ CONTIENE ESTA POLÍTICA DE PRIVACIDAD?
        </h1>
        <p>
            <p>

        1. ¿CUÁNDO SE APLICA ESTA POLÍTICA DE PRIVACIDAD?
        Esta Política de privacidad se publicó y entra en vigencia para los nuevos usuarios el 10 de enero de 2024. Las versiones anteriores de las políticas de privacidad de Coca‑Cola se aplican hasta el 20 de enero de 2024 y se podrán solicitar en la dirección privacy@coca-cola.com.

            </p>
            <p>
        2. ¿DÓNDE SE APLICA ESTA POLÍTICA DE PRIVACIDAD?
        La Política de privacidad se aplica a la información personal recopilada a partir de los usuarios de los Servicios en los que se publica o vincula la Política de privacidad, cuando se hace referencia específicamente a la Política de privacidad en los Servicios o cuando Coca‑Cola le pide que la reconozca. Esta Política de privacidad también cubre la información personal que recopilamos de los consumidores que se comunican con nosotros por correo electrónico, teléfono y fuera de línea, como por ejemplo durante un evento en persona.
            </p>
            <p>
        3. ¿QUÉ TIPOS DE INFORMACIÓN PERSONAL RECOPILA COCA-COLA Y POR QUÉ?
        a. Información que elige proporcionarnos
        Recopilamos la información personal que usted elige compartir con nosotros.
        b. Información sobre el uso de nuestras Aplicaciones
        Cuando descarga e instala una de nuestras Aplicaciones, la información que recopilamos depende del sistema operativo y los permisos de su dispositivo móvil. Nuestras Aplicaciones necesitan usar ciertas funciones y datos de su dispositivo móvil para funcionar. Por ejemplo, si desea una experiencia sencilla de paso de entorno en línea a entorno de Aplicación, necesitamos recopilar y vincular información desde su navegador web.

        Para obtener más información sobre la información específica recopilada por una Aplicación, verifique la configuración de su dispositivo o revise la información de permisos disponible en la plataforma en particular (p. ej., Google Play y App Store) desde la que descargó la aplicación. Ciertas aplicaciones también le permiten verificar o cambiar su estado para la recopilación de ciertos datos en la configuración de la Aplicación. Si cambia su configuración, es posible que ciertas funciones de la Aplicación no funcionen correctamente.

        Para detener la recopilación de toda la información a través de una Aplicación, desinstale la aplicación.

        c. Información recopilada automáticamente durante el uso de los Servicios

        Recopilamos automáticamente cierta información de y sobre el uso de los Servicios desde las computadoras y dispositivos móviles de los usuarios. Parte de la información recopilada automáticamente es información personal en virtud de ciertas leyes. Esta información se recopila automáticamente utilizando cookies, píxeles, balizas web y tecnologías de recopilación de datos similares (en conjunto, tecnología de recopilación de datos).


        d. Información recopilada de terceros

        Ocasionalmente, recibimos de parte de terceros información personal que utilizamos para obtener más información sobre nuestros usuarios, personalizar la experiencia del usuario y promover y mejorar los Servicios de manera más efectiva.


        e. Otra información recopilada con su consentimiento

        Podemos pedirle su consentimiento para recopilar tipos específicos de información personal a fin de que pueda participar en nuevas actividades, recibir contenido exclusivo o probar nuevas funciones. En virtud de algunas leyes de privacidad, Coca‑Cola debe obtener un consentimiento antes de recopilar y usar información personal. Consulte la sección 9 para obtener más detalles al respecto.

            </p>
            <p>
        4. ¿CÓMO UTILIZA COCA-COLA LA INFORMACIÓN PERSONAL?
        Coca‑Cola utiliza la información personal para proporcionar y mejorar los Servicios, administrar nuestro negocio, proteger a los usuarios y hacer cumplir nuestros derechos legales.


            </p>
            <p>
        5. ¿COCA-COLA UTILIZA COOKIES Y OTRAS TECNOLOGÍAS DE RECOPILACIÓN DE DATOS?
        Utilizamos cookies y otras tecnologías de recopilación de datos para reconocerlo a usted o a sus dispositivos cuando utiliza los Servicios y recopilar información personal sobre usted.

        En algunos casos excepcionales, puede haber algunos sitios web que forman parte de los Servicios y que tienen avisos específicos sobre cookies y otras tecnologías de recopilación de datos que se aplican a sitios web y consumidores específicos. Si visita un sitio web de Coca‑Cola que tiene un aviso sobre cookies, entonces se aplicará el aviso de cookies de ese sitio web en particular.


            </p>
            <p>

        6. ¿CÓMO COMPARTE COCA-COLA LA INFORMACIÓN PERSONAL?
        Coca‑Cola comparte la información personal con personas y empresas que nos ayudan a operar los Servicios y llevar a cabo nuestras actividades comerciales, y cuando lo permite o exige la ley. También compartimos información personal cuando un usuario solicita que la compartamos. Exigimos que los destinatarios que reciben información personal de nuestra parte cumplan con esta Política de privacidad, a menos y hasta que se les informe a los usuarios que se aplicará una política o aviso de privacidad diferente.
            </p>

            <p>

        7. ¿CÓMO PROTEGE COCA-COLA LA INFORMACIÓN PERSONAL?
        En Coca‑Cola actuamos con diligencia para proteger y salvaguardar la información personal que se nos confía. Utilizamos diversas medidas que nos ayudan a proteger la información personal de todo acceso y uso no autorizados.


            </p>

            <p>
        8. ¿POR CUÁNTO TIEMPO CONSERVA COCA-COLA LA INFORMACIÓN PERSONAL?
        Conservamos la información personal sobre un usuario durante el tiempo que la cuenta del usuario esté activa y, de otro modo, durante el tiempo que sea necesario para los fines descritos anteriormente. También conservamos la información personal durante el tiempo que sea necesario para cumplir con las respectivas obligaciones legales, resolver disputas y hacer cumplir nuestros acuerdos.



            </p>
            <p>

        9. ¿QUÉ OPCIONES ESTÁN DISPONIBLES EN CUANTO A LA INFORMACIÓN PERSONAL?
        Puede tomar decisiones sobre el manejo de su información personal por parte de Coca‑Cola. Puede ejercer sus derechos de privacidad comunicándose con Coca‑Cola conforme se describe en esta sección 9 o utilizando varias herramientas disponibles a través de su navegador o que Coca‑Cola ponga a disposición. En algunos casos, su capacidad para acceder o controlar su información personal está limitada por la ley aplicable.

        Preferencias de dispositivos móviles

        Los sistemas operativos móviles y las plataformas de aplicaciones (p. ej., Google Play, App Store) tienen configuraciones de permisos para tipos específicos de datos y notificaciones de dispositivos móviles, como por ejemplo para el acceso a contactos, servicios de geolocalización y notificaciones emergentes (notificaciones push). Puede usar la configuración de su dispositivo móvil para dar su consentimiento o rechazar determinada recopilación de información o notificaciones push. Ciertas aplicaciones también pueden tener configuraciones que le permiten cambiar permisos y notificaciones push. En el caso de algunas aplicaciones, el hecho de cambiar la configuración puede hacer que ciertos aspectos de la aplicación no funcionen correctamente.

        Puede detener toda la recopilación de información a partir de una Aplicación al desinstalarla. Si desinstala la Aplicación, sírvase también verificar la configuración de su sistema operativo para confirmar que el identificador único y otra actividad asociada con su uso de la Aplicación hayan sido eliminados de su dispositivo móvil.

        Inhabilitación de correos electrónicos y mensajes de texto de Coca‑Cola

        Para dejar de recibir correos electrónicos promocionales de Coca‑Cola, haga clic en el enlace “Cancelar suscripción” en la parte inferior del correo electrónico. Aun después de que usted haya cancelado la suscripción, podremos enviarle comunicaciones no promocionales, como recibos de compras o información administrativa sobre su cuenta.

        La configuración de su cuenta también puede permitirle cambiar sus preferencias de notificación, como por ejemplo notificaciones push desde una Aplicación.

        Para dejar de recibir mensajes de texto promocionales (SMS o MMS), envíe un mensaje de texto de respuesta que indique que desea dejar de recibir mensajes de texto promocionales de nuestra parte. Puede hacerlo al escribir en su mensaje la palabra “Stop” (detener). También puede informarnos en los datos de contacto indicados en la sección “Contáctenos”. Especifique qué tipos de comunicaciones ya no desea recibir junto con el número de teléfono, la dirección o la dirección de correo electrónico correspondientes. Si cancela la suscripción al envío de mensajes relacionados con marketing de nuestra parte, aún podemos enviarle mensajes administrativos importantes, como correos electrónicos sobre sus cuentas o compras.

        LA INFORMACIÓN SOBRE DERECHOS DE PRIVACIDAD Y LAS DIFERENTES OPCIONES PARA JURISDICCIONES ESPECÍFICAS SE PROPORCIONA EN LA SECCIÓN 13 AL FINAL DE ESTA POLÍTICA DE PRIVACIDAD. LE RECOMENDAMOS QUE REVISE LAS SECCIONES CORRESPONDIENTES.

        SI SE ENCUENTRA EN UNA JURISDICCIÓN CON LEYES DE PRIVACIDAD QUE LE OFRECEN DERECHOS DE PRIVACIDAD NO DESCRITOS EN ESTA POLÍTICA DE PRIVACIDAD, COMUNÍQUESE CON NOSOTROS AL CORREO PRIVACY@COCA-COLA.COM. Respetamos sus derechos de privacidad y haremos todo lo posible para satisfacer sus solicitudes.
            </p>
            <p>
        10. ¿CÓMO PROTEGE COCA-COLA LA PRIVACIDAD DE LOS NIÑOS?
        Algunos de los Servicios tienen restricciones de edad, lo que significa que podemos hacer preguntas para verificar su edad antes de permitirle usar esos Servicios.

        De acuerdo con nuestra Política de marketing responsable, Coca‑Cola no dirige el marketing de nuestros productos a niños menores de 13 años. Si se entera de que un niño menor de 13 años o la edad establecida en virtud de la ley local nos ha proporcionado información personal sin el consentimiento de los padres o de otra manera que no sea la permitida por la ley aplicable, comuníquese con nuestra Oficina de Privacidad al correo privacy@coca-cola.com. Tan pronto nos enteremos, tomaremos medidas para eliminar la información personal del niño según lo exija la ley aplicable.


            </p>

            <p>
        11. ¿COCA-COLA TRANSFIERE INFORMACIÓN PERSONAL A OTROS PAÍSES?
        Coca‑Cola puede transferir información personal entre fronteras a cualquiera de los lugares donde nosotros y nuestros proveedores y socios comerciales hacemos negocios. Estos otros lugares pueden tener leyes de protección de datos que son diferentes (y, en algunos casos, que ofrecen menores protecciones) a las leyes donde usted reside.

        Si su información personal es transferida entre fronteras por nosotros o en nuestro nombre, utilizamos medidas de seguridad adecuadas para proteger su información personal de acuerdo con esta Política de privacidad y la ley aplicable. Estas salvaguardas incluyen la aceptación de cláusulas contractuales tipo o contratos modelo para transferencias de información personal entre las filiales de Coca‑Cola y entre nuestros proveedores y socios. Cuando están vigentes, estos contratos requieren que nuestras filiales, proveedores y socios protejan la información personal de acuerdo con las leyes de privacidad aplicables.

        Consulte también nuestra Política de privacidad del Marco de Privacidad de Datos, que describe cómo Coca‑Cola maneja los datos personales que Coca‑Cola recibe en los EE. UU. desde la UE, el Reino Unido y Suiza en función del Marco de Privacidad de Datos de la UE-EE. UU., la extensión del Reino Unido al Marco de Privacidad de Datos de UE-EE. UU., y el Marco de Privacidad de Datos Suiza-EE. UU., según lo establecido por el Departamento de Comercio de los EE. UU. (en conjunto, el Marco de Privacidad de Datos). Si los términos de esta Política de privacidad y la Política de privacidad del Marco de Privacidad de Datos entran en conflicto, entonces la Política de privacidad del Marco de Privacidad de Datos rige con respecto a la información personal que Coca‑Cola recibe en los EE. UU. en virtud del Marco de Privacidad de Datos. Para obtener más información sobre el programa Marco de Privacidad de Datos y ver nuestra certificación, visite https://www.dataprivacyframework.gov/.

        Para solicitar información sobre nuestras cláusulas contractuales tipo u otras salvaguardas para transferencias transfronterizas de información personal, envíe un correo electrónico a privacy@coca-cola.com.


            </p>
            <p>

        12. ¿CUÁNDO SE CAMBIA ESTA POLÍTICA DE PRIVACIDAD?
        Podemos actualizar esta Política de privacidad cuando lo consideremos oportuno en respuesta a circunstancias legales, técnicas o comerciales cambiantes. La versión más actual siempre está disponible a través de los Servicios.


            </p>
            <p>

        13. DERECHOS Y OPCIONES DE PRIVACIDAD PARA JURISDICCIONES ESPECÍFICAS
        Puede solicitar la eliminación de sus datos personales enviando un correo electrónico a privacy@coca-cola.com, o como se indica a continuación.


            </p>
            <p>
        Residentes de Argentina

            </p>



        </p>
    </p>
</div>