@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Cambiar contraseña - confirmación";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu contraseña se cambió correctamente. Por favor <a asp-page="./Login">Click aquí para logearse</a>.
</p>
