@model Final_MadonnaTizianoLab4.Models.EntregaDetalle

@{
    ViewData["Title"] = "Crear detalle";
}

<h1>Crear</h1>

<h4>Detalle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntregaId" class="control-label"></label>
                <select asp-for="EntregaId" class ="form-control" asp-items="ViewBag.EntregaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProductoId" class="control-label"></label>
                <select asp-for="ProductoId" class ="form-control" asp-items="ViewBag.ProductoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CantidadCajas" class="control-label"></label>
                <input asp-for="CantidadCajas" class="form-control" />
                <span asp-validation-for="CantidadCajas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button id="btn-crear" type="submit">Crear</button>
            </div>
        </form>
    </div>
</div>

<div>
    <form asp-action="Index" method="get">
        <button id="btn-regresar" class="btn-primary" type="submit">Regresar</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<link rel="stylesheet" href="~/css/estilo.css">
